.root {
    -fx-background-color: linear-gradient(to bottom right, #FF7F50, #6A5ACD);
    /*
    la funcion que se encuentra comentada es para crearle bordes a la ventana
    -fx-background-radius: 15 15 25 25;
    */
}